.project-card{
    display:flex;
    flex-direction:column;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin:15px;
    border-radius:10px;
    width:30%;
}
.project-img{
    width:100%;
    border-radius:5px;
    border:1px solid transparent;
}
.project-details-container{
    display:flex;
    flex-direction:column;
    margin:10px;
}
.project-heading{
    color: #183b56;
    font-family:"Roboto";
    font-size:18px;
    margin-bottom:10px;
}
.project-description{
    color: #7b8794;
    font-family:"Roboto";
    font-size:12px;
}